<%- include('layouts/header') %>
<form action="login" method="post">
    <label for="pseudo"></label>
    <input type="text" name="pseudo" id="pseudo" placeholder="pseudo">
    <input type="submit" value="connexion">
</form>
<%- include('layouts/footer') %>